<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>도서수정</title>
    <style>
        p{
            color: red;
            font-size: small;
        }
        .readonly{
            background-color: #ebe9e9;
        }
    </style>
</head>
<body class="p-3 mb-2 bg-body-tertiary">
    <h3>도서수정페이지</h3>
    <hr>
    <span th:text="${error}"></span>
    <form th:action="@{/manage/editBook}" method="post" th:object="${bookDto}">
        <div class="row">
            <div class="col input-group mb-3">
                <label class="input-group-text" th:for="bookIsbn">#ISBN</label>
                <input class="form-control readonly" th:type="text" th:field="*{bookIsbn}" th:readonly="true">
            </div>
            <div class="col">
                <p th:if="${#fields.hasErrors('bookIsbn')}" th:errors="*{bookIsbn}">Invalid data</p>
            </div>
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <label class="input-group-text" th:for="bookNm">도서명</label>
                <input class="form-control" th:type="text" th:field="*{bookNm}" maxlength="20">
            </div>
            <div class="col">
                <p th:if="${#fields.hasErrors('bookNm')}" th:errors="*{bookNm}">Invalid data</p>
            </div>
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <label class="input-group-text" th:for="bookAuthor">저자명</label>
                <input class="form-control" th:type="text" th:field="*{bookAuthor}" maxlength="20">
            </div>
            <div class="col">
                <p th:if="${#fields.hasErrors('bookAuthor')}" th:errors="*{bookAuthor}">Invalid data</p>
            </div>
        </div>
        <div class="row">
            <div class="col input-group mb-3">
                <label class="input-group-text" th:for="bookPublisher">출판사명</label>
                <input class="form-control" th:type="text" th:field="*{bookPublisher}" maxlength="20">
            </div>
            <div class="col">
                <p th:if="${#fields.hasErrors('bookPublisher')}" th:errors="*{bookPublisher}">Invalid data</p>
            </div>
        </div>
        <button th:type="submit" class="btn btn-outline-primary">도서 수정 하기</button>
        <button th:type="button" th:onclick="deleteBook()" class="btn btn-outline-danger">도서 삭제 하기</button>
    </form>
    <hr>
    <a href="/main"><button class="btn btn-outline-dark">메인으로</button></a>
    <a href="/manage/books"><button class="btn btn-outline-dark">뒤로가기</button></a>
</body>
<script>
    function deleteBook(){
        if (confirm("도서를 삭제하시겠습니까?")) {
            const token = document.querySelector('meta[name="_csrf"]').content;
            const header = document.querySelector('meta[name="_csrf_header"]').content;
            let xhr = new XMLHttpRequest();
            let object = {};

            xhr.onreadystatechange = function(){
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        alert("도서가 삭제 되었습니다.");
                        window.location = "/manage/books";
                    } else {
                        alert("도서 삭제 중 오류가 발생하였습니다.");
                        window.location.reload();
                    }
                }
            }
            object['bookIsbn'] = document.getElementById('bookIsbn').value;
            const params = JSON.stringify(object);
            xhr.open('POST', "/manage/deleteBook", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader(header, token);
            xhr.send(params);
        }
    }
</script>

</html>